body{
    font-family:Arial, Helvetica, sans-serif; 
    margin: 0;
}


/* Navbar, Hero Section, Footer, background color */
header, .HeroSection,footer{
    background-color: #1F2937;
}

/* Header Logo Text */
.logo{
    font-size: 24px;
    color: #F9FAF8;
}

/* Hero Secondary text, Header Link Text, Footer Text */
.headerLinks, .HeroSecondaryText{
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

/* Hero Main text */ 
.HeroMainText{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8
}

nav{
    display: flex;
    
}

.headerLinks{
    display: flex;
    gap: 30px;
    align-items: center;
}

.heroImage{
   

}

div{

}

p{

}